<!DOCTYPE html>
<html>
  <head>
    <title>Weblog Data</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.10/css/jquery.dataTables.min.css"
    />
    <style>
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Arial;
        width: 100%;
        background: url("https://images.unsplash.com/photo-1639815188508-13f7370f664a?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
          no-repeat;
        background-size: cover;
      }
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.6);
        border-bottom: 1px solid #fff;
        padding: 10px;
      }
      nav .logo {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        padding: 5px;
      }
      nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
      }
      nav ul li {
        margin-right: 20px;
      }
      nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }
      nav ul li a:hover {
        background: rgba(0, 0, 0, 0.7);
        border-radius: 6px;
      }
      .card-table {
        margin: 50px 50px;
        background-color: rgb(15 14 14 / 40%);
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        backdrop-filter: blur(4px);
        overflow: hidden;
      }
      .card-header {
        color: #fff;
        border-radius: 10px 10px 0 0;
        padding: 10px;
        text-align: center;
        backdrop-filter: blur(0px);
        font-size: 22px;
        position: sticky;
        top: 0;
        z-index: 1;
      }
      a {
        color: #fff;
        font-size: 22px;
        margin-right: 10px;
      }
      /* Add vertical scrollbar and set max height */
      .table-container {
        overflow-y: auto;
        max-height: 392px; /* Adjust as needed */
      }
      thead {
        position: sticky;
        top: 0;
        width: 100%;
        border-collapse: collapse;
        color: #fff;
      }
      th,
      td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
    </style>
  </head>
  <body>
    <nav>
      <h1 class="logo">Web Log DataMining</h1>
      <ul>
        <li><a href="/login/user/weblog">Weblog</a></li>
        <li><a href="/login/user/frequentpage">Frequent page Viewed</a></li>
        <li>
          <a href="/login/user/frequentlyviewuser"> Frequent Viewed User</a>
        </li>
      </ul>
    </nav>
    <div class="card card-table">
      <h1 class="card-header">User Details</h1>
      <div class="card-body">
        <!-- Wrap table with a container div to enable vertical scrollbar -->
        <div class="table-container">
          <div class="table-responsive">
            <table
              id="dataTable"
              class="table table-striped table-bordered text-white"
            >
              <thead>
                <tr>
                  <th scope="col">IP_Address</th>
                  <th scope="col">User_Name</th>
                  <th scope="col">TimeStamp</th>
                  <th scope="col">HTTP_Method</th>
                  <th scope="col">From_Page</th>
                  <th scope="col">To_Page</th>
                  <th scope="col">Http_Version</th>
                  <th scope="col">Response_Code</th>
                  <th scope="col">Response_Size</th>
                </tr>
              </thead>
              <tbody>
                <!-- Table data will be dynamically loaded -->
                <% webdata.forEach((web) => { %>
                <tr>
                  <td><%= web.ip_address %></td>
                  <td><%= web.user_name %></td>
                  <td><%= web.timestamp %></td>
                  <td><%= web.http_method %></td>
                  <td><%= web.from_page %></td>
                  <td><%= web.to_page %></td>
                  <td><%= web.http_version %></td>
                  <td><%= web.response_code %></td>
                  <td><%= web.response_size %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.10/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#dataTable").DataTable({
          paging: false, // Disable default pagination
          scrollY: "200px", // Set a fixed height for vertical scrolling
          scrollCollapse: true, // Allow vertical scrollbar to collapse when not needed
        });
      });
    </script>
  </body>
</html>